<hr>
  <div class="row" *ngFor="let item of stockList" style="display:flex; margin-left:10px; margin-right: 10px;">
    <div class="col" style="width:35%">
    <img src="{{item.imageUrl}}">
    </div>
    <div class="col" style="width:50%">
        <label>{{item.itemName}}</label>
    </div>
    <div class="col" style="width: 15%">
        <img *ngIf="item.added===false" style="cursor: pointer;" (click)="addToBasket(item)" src="assets/img/stock/addItem.jpg">
        <span *ngIf="item.added===true"> ADDED<img  style="margin-left:10px;cursor: pointer;" (click)="removeFromBasket(item)" src="assets/img/stock/removeItem.jpg"></span>
      </div>
    <br>
  </div>
<hr>